<layout>
  <div class="row">
    <div class="col-lg-4">
      <h2>{{model?.title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p>{{model?.synopsis}}</p>
    </div>
  </div>
  <div class="row">
    <div>
      <div class="card-deck" *ngFor="let widget of widgets; let i = index;">
        <div [ngSwitch]="widget.widgetType">
          <text-widget-view *ngSwitchCase="1" [model]="widget"></text-widget-view>
          <image-widget-view *ngSwitchCase="2" [model]="widget"></image-widget-view>
        </div>
      </div>
    </div>
  </div>
</layout>