<div *ngIf="isReady">
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="card" *ngFor="let widget of widgets; let i = index;" (cdkDragStarted)="handleDragStart($event)" cdkDrag>
      <div class="card-header">
        {{widget?.sort}}
        <div class="example-handle" cdkDragHandle>
          <i style="content: url(../../assets/images/arrows-move.svg)"></i>
        </div>
      </div>
      <div class="card-body" [ngSwitch]="widget.widgetType">
        <text-widget-edit *ngSwitchCase="1" [model]="widget" (isDeleted)="onWidgetDelete($event)"></text-widget-edit>
        <image-widget-edit *ngSwitchCase="2" [model]="widget"></image-widget-edit>
      </div>
    </div>
  </div>
  <hr />
  <button class="btn btn-outline-primary" (click)="createTextWidget()">Add Text Body</button>
  <button class="btn btn-outline-primary" (click)="createImageWidget()">Add Image</button>
</div>