<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <input type="file" multiple (change)="imageUploadHandler($event.target.files)" accept="image/*"/>
        </div>
    </div>
    <div class="row">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <div class="row" *ngFor="let image of images; let i = index;" (cdkDragStarted)="handleDragStart($event)" cdkDrag>
            <div class="col-sm-1">
              {{image?.sort}}
            </div>
            <div class="col-sm-1" cdkDragHandle>
                <i style="content: url(../../assets/images/arrows-move.svg)"></i>
            </div>
            <div class="col-sm-3">
                <img style="height: 100px; width: 100px" *ngIf="image" [src]="image.base64ImageData" />
            </div>
          </div>
        </div>
      </div>

    <!-- <div class="row">
        <div *ngFor="let image of images">
            <div class="col-sm-4">
                <img style="height: 100px; width: 100px" *ngIf="image" [src]="image" />
                <i style="content: url(../../assets/images/arrows-move.svg)"></i>
            </div>
        </div>
    </div> -->
</div>