<layout>
  <form [formGroup]="storyBoardForm">
    <div class="row">
      <div class="col-lg-4">
        <h2>{{model?.title}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h2>{{model?.synopsis}}</h2>
      </div>
    </div>
    <div class="row">
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="row" *ngFor="let widget of widgets; let i = index;" (cdkDragStarted)="handleDragStart($event)" cdkDrag>
          <div class="col-sm-1">
            {{widget?.sort}}
            <div class="example-handle" cdkDragHandle>
              <i style="content: url(../../assets/images/arrows-move.svg)"></i>
            </div>
          </div>
          <div class="col-lg-11" [ngSwitch]="widget.widgetType">
              <text-widget-edit *ngSwitchCase="1" [model]="widget" (isDeleted)="onWidgetDelete($event)"></text-widget-edit>
              <image-widget-edit *ngSwitchCase="2" [model]="widget"></image-widget-edit>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button (click)="createTextWidget()">Add Text Body</button>
      <button (click)="createImageWidget()">Add Image</button>
      <button (click)="saveAll()">Save All</button>
    </div>
  </form>
</layout>