<div class="container-fluid">
  <!-- <ng-template ngFor let-storyBoardCore [ngForOf]="storyBoardCores"> -->

    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist" *ngFor="let storyBoardCore of storyBoardCores">
          <a class="list-group-item list-group-item-action active" id="core" data-toggle="list" href="#core" role="tab" aria-controls="core">Home</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="core" role="tabpanel" aria-labelledby="list-home-list">...</div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
      </div>
    </div>


    <!-- <div class="row justify-content-center">
      <div class="col-lg-10">
        <story-board [model]="storyBoardCore"></story-board>
      </div>
    </div> -->



    <!-- <div class="row">
      <div class="col-sm-3">
        <button class="btn btn-danger" (click)="delete(storyBoardCore.id)">Delete</button>
      </div>
    </div> -->
</div>